/* @group @font-face */

@font-face {
  font-family: 'Colaborate-ThinRegular';
  src: url('/assets/fonts/ColabThi.eot');
  src: local('Colaborate-Thin Regular'), local('Colaborate-Thin'), url('/assets/fonts/ColabThi.ttf') format('truetype');
}

@font-face {
  font-family: 'ColaborateLightRegular';
  src: url('/assets/fonts/ColabLig.eot');
  src: local('ColaborateLight Regular'), local('Colaborate-Light'), url('/assets/fonts/ColabLig.ttf') format('truetype');
}

@font-face {
  font-family: 'Colaborate-RegularRegular';
  src: url('/assets/fonts/ColabReg.eot');
  src: local('Colaborate-Regular Regular'), local('Colaborate-Regular'), url('/assets/fonts/ColabReg.ttf') format('truetype');
}

@font-face {
  font-family: 'Colaborate-MediumRegular';
  src: url('/assets/fonts/ColabMed.eot');
  src: local('Colaborate-Medium Regular'), local('Colaborate-Medium'), url('/assets/fonts/ColabMed.ttf') format('truetype');
}

@font-face {
  font-family: 'Colaborate-BoldRegular';
  src: url('/assets/fonts/ColabBol.eot');
  src: local('Colaborate-Bold Regular'), local('Colaborate-Bold'), url('/assets/fonts/ColabBol.ttf') format('truetype');
}

/* @end */

/* @group Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}.clearfix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}* html .clearfix {height: 1%;}

/* @end */

/* @group Basic HTML */

html {
}

body {
  background: url(assets/images/others/bg-body.jpg);
  font: 17px/1.5 'Colaborate-ThinRegular', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  color: #333;
}

a {
  color: #1193F6;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: border-bottom,color;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-duration: 0.2s;
  -moz-transition-property: border-bottom,color;
  -moz-transition-timing-function: ease-in;
}
  a:hover {
    border-bottom: 2px solid #E1EAFE;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: border-bottom,color;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-duration: 0.3s;
    -moz-transition-property: border-bottom,color;
    -moz-transition-timing-function: ease-in;
  }

b, strong {
  font-family: 'Colaborate-RegularRegular', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-weight: normal;
}

li p, li ul {
  margin-bottom: 0px;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* @end */

/* @group Spacing */

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 25px;
  margin-right: 10px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

/* @end */

/* @group Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: 'ColaborateLightRegular', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-weight: normal;
}
  h1.thin, h2.thin, h3.thin, h4.thin, h5.thin, h6.thin {
    font-family: 'Colaborate-ThinRegular', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  }

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

/* @end */

/* @group Main Elements */

#universe {
  margin: 0px auto;
  width: 980px;
}

#header {
  height: 100px;
}

#title {
  color: #e9e9e9;
  margin-top: 0;
  float: left;
  font-size: 50px;
}
  #title a {
    color: #c9c9c9;
  }
    #title a:hover {
      color: #b9b9b9;
      text-decoration: none;
      /*border: none;*/
    }

/* @group #navigation */

#navigation {
  font-size: 15px;
  float: right;
  margin: 20px 0px 20px 0px;
}
  #navigation a {
    color: #939393;
    margin: 0px 15px;
    text-decoration: none;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: border-bottom;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-duration: 0.2s;
    -moz-transition-property: border-bottom;
    -moz-transition-timing-function: ease-in;
  }
    #navigation a:hover {
      color: #1193F6;
      border-bottom: 2px solid #F0F5FE;
      -webkit-transition-duration: 0.3s;
      -webkit-transition-property: color;
      -webkit-transition-property: border-bottom;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-duration: 0.3s;
      -moz-transition-property: color;
      -moz-transition-property: border-bottom;
      -moz-transition-timing-function: ease-in;
    }
    #navigation a.selected {
      color: #1193F6;
      border-bottom: 2px solid #F0F5FE;
    }

/* @end */

/* @end */

/* @group .section* */
.section {
  background-color: #15100e;
  color: #fff;
  position: relative; }
  .section .inner {
    position: relative;
    z-index: 1;
    max-width: 80%;
    padding: 10% 0 10% 5%; }
    @media (min-width: 48em) {
      .section .inner {
        max-width: 60%;
        padding: 5% 0 5% 5%; } }
    @media (min-width: 62em) {
      .section .inner {
        max-width: 50%;
        padding-left: 10%; } }
  .section .section__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%; }
    .section .section__image::before {
      background: linear-gradient(to right, #101010, rgba(0, 0, 0, 0));
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
  .section .section__title,
  .section .section__more {
    text-shadow: 0px 0px 3px black; }

.section__text {
  /* remove space after last child element */
  /* text links */ }
  .section__text > *:last-child {
    margin-bottom: 0; }
  .section__text a {
    border-bottom: 1px solid currentColor;
    color: currentColor;
    text-decoration: none; }
    .section__text a:hover {
      color: lightblue;
      border-bottom-color: lightblue; }

.section__title .heading {
  margin-top: 0;
  margin-bottom: 1.45rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.728em;
  line-height: 1.25; }
  @media (min-width: 48em) {
    .section__title .heading {
      padding-right: 5%; } }
  @media (min-width: 62em) {
    .section__title .heading {
      font-size: 2.0736em; } }
  .section__title .heading span {
    padding: 0 0.5em;
    line-height: 1.5;
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone; }

.section__social {
  font-size: 1.3em;
  padding-left: 0;
  list-style: none; }
  .section__social li {
    display: inline-block; }
    .section__social a:link {
      border-bottom: 0px; }

@media (min-width: 62em) {
  .section__more {
    font-size: 1.2em; } }

/* @end */

/* @group .post-* */

.post-world {
  margin: auto;
  width: 640px;
}

.post-item {
  margin-bottom: 90px;
}

/* @group .post-title */

.post-title {
  position: relative;
  margin-left: 10px;
}
  .post-title a {
      color: #222;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      -webkit-transition-duration: 0.2s;
      -webkit-transition-property: border-bottom;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-duration: 0.2s;
      -moz-transition-property: border-bottom;
      -moz-transition-timing-function: ease-in;
  }
    .post-title a:hover {
        color: #555;
        border-bottom: 2px solid #E1EAFE;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-property: border-bottom;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-duration: 0.3s;
        -moz-transition-property: border-bottom;
        -moz-transition-timing-function: ease-in;
    }

/* @end */

/* @group .post-title-related */

.post-title-related {
  float: right;
  font-size: 15px;
}

  .post-title-related a {
    color: #1193F6;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: border-bottom;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-duration: 0.2s;
    -moz-transition-property: border-bottom;
    -moz-transition-timing-function: ease-in;
  }
    .post-title-related a:hover {
    border-bottom: 2px solid #E1EAFE;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: border-bottom;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-duration: 0.3s;
    -moz-transition-property: border-bottom;
    -moz-transition-timing-function: ease-in;
  }
  .post-title-related .hash {
    color: #eee;
    font-style: normal;
  }

/* @end */

/* @group .post-title-sub */

.post-title-sub {
  color: #bbb;
  font-size: 13px;
  position: absolute;
  bottom: -14px;
  left: 0px;
}
  .post-title-sub a {
    color: #bbb;
  }
    .post-title-sub a:hover {
      border-bottom: 2px solid #F8F8F8 !important;
    }
  .post-title-sub .hash {
    color: #eee;
    font-style: normal;
  }

/* @end */

.post-content {

}
  .post-content p {
    text-align: justify;
  }

/* @group .post-meta */

.post-meta {
  float: left;
  width: 50px;
  margin-top: 2px;
  margin-left: -50px;
  border-right: 1px solid #E6E6E6;
}
  .post-meta p {
    margin: 0px;
  }
  .post-meta .date {
    color: #cdcdcd;
    text-align: center;
    margin: 8px 0px 5px 0px;
  }
    .post-meta .date i {
      font-style: normal;
      font-size: 24px;
      display: block;
    }
    .post-meta .date b {
      font-family: 'ColaborateLightRegular', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
      font-weight: normal;
      font-size: 14px;
      display: block;
    }

/* @end */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* fade image in after load */
.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
}
