<div class="sidebar">
	<div class="about-me">
		<h1>&nbsp;</h1>
		<img class="avatar" src="http://gravatar.com/avatar/bdd848257fce7eb848b301b2ee6e0f9e.jpg?s=50" alt="" />
		<div class="description">
			<p>
            Étudiant à l'INSA Toulouse, je suis passionné de programmation et de logiciels libres.
            <br><br>
                <i class="fa fa-envelope-square fa-fw"></i><td><script type="text/javascript">document.write("<n uers=\"znvygb:erirfgsyb@tznvy.pbz\">erirfgsyb@tznvy.pbz</n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));</script></td>
                <i class="fa fa-github-square fa-fw"></i><a href="https://github.com/FlorentRevest">GitHub</a>
                <i class="fa fa-linkedin-square fa-fw"></i><a href="https://fr.linkedin.com/pub/florent-revest/bb/842/653">LinkedIn</a> <br>
                <i class="fa fa-twitter-square fa-fw"></i><a href="https://twitter.com/xenon132">Twitter</a>
                <i class="fa fa-flickr fa-fw"></i><a href="https://www.flickr.com/photos/florent_revest/">Flickr</a>
                <i class="fa fa-pencil-square fa-fw"></i><a href="irc://kido@irc.freenode.net">kido@irc.freeenode.net</a>
                <br><br>
		    </p>
	    </div>
	<div class="section recent-articles">
		<h2>Articles Récents</h2>
		<dl class="labels">
			{% for post in site.posts limit:8 %}
				<dt>{{ post.date | date: "%d %b" }}</dt>
                <dd><a href="{{ site.baseurl }}{{ post.url }}" class="title">{{ post.title }}</a></dd>
			{% endfor %}
			<dt>&nbsp;</dt>
            <dd><a href="{{ site.baseurl }}/archive.html">Tout voir &rarr;</a></dd>
		</dl>
	</div>
</div>

<div class="clear"></div>
