<div class="signature">
	<div class="about-me">
		<img class="avatar" src="http://gravatar.com/avatar/bdd848257fce7eb848b301b2ee6e0f9e.jpg?s=50" alt="" />
		<div class="description">
			<p>
                <b>Florent Revest:</b>
                <span class="social" align="right">
                  <script type="text/javascript">document.write("<n uers=\"znvygb:erirfgsyb@tznvy.pbz\">".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));</script><i class="fa fa-envelope fa-fw"></i><td></a></td> 
                  <a href="https://github.com/FlorentRevest"><i class="fa fa-github fa-fw"></i></a> 
                  <a href="https://fr.linkedin.com/pub/florent-revest/bb/842/653"><i class="fa fa-linkedin fa-fw"></i></a> 
                  <a href="https://twitter.com/xenon132"><i class="fa fa-twitter fa-fw"></i></a> 
                  <a href="skype:florentrevest?userinfo"><i class="fa fa-skype fa-fw"></i></a> 
                  <a href="irc://kido@irc.freenode.net"><i class="fa fa-comments fa-fw"></i></a> 
                  <a href="https://www.flickr.com/photos/florent_revest/"><i class="fa fa-flickr fa-fw"></i></a>
                </span></br>
                 Computer Science student at INSA Toulouse with a soft spot for embedded systems and free software. Also known for being the creator of AsteroidOS. 
            </p>
	    </div>
	</div>
</div>
