{% include _head.html %}

<div class="sections">
  {% for section in page.section %}
    {% capture data_bgset %}{{ site.url }}/assets/images/section-bg/{{ section.image }}-320.jpg 320w, {{ site.url }}/assets/images/section-bg/{{ section.image }}-768.jpg 768w, {{ site.url }}/assets/images/section-bg/{{ section.image }}-1024.jpg 1024w, {{ site.url }}/assets/images/section-bg/{{ section.image }}.jpg 1920w{% endcapture %}

    <div class="section section__{{ forloop.index }}">
      <div class="section__image lazyload" data-bgset="{{ data_bgset }}" data-sizes="auto"/></div>
      <div class="inner">
        <div class="section__text">
          <div class="section__title">
            <h2 class="heading"><span>{{ section.title | markdownify | remove: '<p>' | remove: '</p>' }}</span></h2>
          </div>
          {% if section.introduction %}
            <div class="section__more">
              {{ section.introduction | markdownify }}
            </div>
          {% endif %}

          {% if section.social %}
            <ul class="section__social">
              {% for social in section.social %}
                <li><a href="{{ social.url }}"><i class="fa fa-{{ social.icon }} fa-fw"></i></a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% include _foot.html %}
