{% include _head.html %}

<div id="universe">
	
	<div id="header">
		<div id="title">
			<a href="{{ site.baseurl }}/blog.html">blog</a>
		</div>
		<div id="navigation">
			<a href="{{ site.baseurl }}/">Moi</a>
			<a href="{{ site.baseurl }}/blog.html" class="selected">Articles</a>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="post-world">
		<div class="post-item">
			<div class="post-meta">
			    <p class="date">{{ page.date | date: "<i>%d</i><b>%b</b>" }}</p>
			</div>

			<h1 class="post-title">
				{{ page.title }}
				<div class="post-title-sub">
	                écrit par Florent Revest en {{ page.date | date: "%Y" }}
				</div>
			</h1>

			<div class="post-content">
				{{ content }}
			</div>
			
			<div class="post-comments">
				<div id="disqus_thread"></div><script type="text/javascript" src="http://florentrevest.disqus.com/embed.js"></script><noscript><a href="http://florentrevest.disqus.com/?url=ref">Voir les commentaires.</a></noscript>
			</div>
		</div>
	</div>
	
	{% include sidebar.html %}
	
</div>

{% include _foot.html %}
